* {
  font-family: Helvetica;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background: #000;
  padding: 1rem;
  text-align: center;
}

h1 {
  color: #fff;
}

nav>ul>li {
  list-style-type: none;
  margin: 0.5rem 1rem;
  background-color: orange;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;

}

nav>ul>li:hover {
   cursor: pointer;
   background-color: darkorange;
}

a {
  text-decoration: none;
  color: #fff;
}

nav>ul {
  display: flex;
  background-color: orange;
}

main {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  margin-left: 1rem;
  margin-bottom: 1rem;

}

p {
  margin: 2rem;
  line-height: 30px;

}


footer {
  background: navy;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

h2 {
  padding: 1rem;
}


form {
  border: 2px solid;
  padding: 1rem;
}